@inject NavigationManager navigationManager

<style>
    .edit-svg svg {
        visibility: hidden;
    }

    .edit-svg:hover svg {
        visibility: visible;
    }
</style>

<li class="bg-white text-sm mb-1 shadow rounded px-1 hover:bg-gray-100 edit-svg @IsVisibleCssClass"
    draggable="true"
    dropzone="move"
    @ondragstart:stopPropagation
    @ondragstart="((e) => HandleDragStart(e))"
    @ondragenter="((e) => HandleOnDragEnter())"
    @ondragleave="((e) => HandleOnDragLeave())"
    @ondragover="((e) => HandleDragOver(Model))"
    @ondrop="((e) => HandleDrop())">

    <div @onclick="Navigate" class="flex justify-between">
        <p class="truncate">(@Model.Clicks) @Model.Name</p>
        <div class="flex justify-end ml-3">
            <EditIcon BookmarkId="@Model.Id" />
            <NavigateIcon BookmarkId="@Model.Id" Url="@Model.Url" />
            <DeleteIcon Id="@Model.Id" DeleteCallback="Delete" />
        </div>
    </div>
</li>

@code {

    private string IsVisibleCssClass => Model.Hidden ? "invisible" : "visible";

    [CascadingParameter]
    public FolderContainer Container { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public BookmarkModelUi Model { get; set; }

    private void HandleDragStart(DragEventArgs e)
    {
        Console.WriteLine("Firing HandleDragStart");
        Container.BookmarkDragPayload = Model;
        Container.BookmarkDragPayload.Hidden = true;
    }

    private void HandleOnDragEnter()
    {
    }

    private void HandleOnDragLeave()
    {

    }

    private async Task HandleDragOver(BookmarkModelUi target)
    {
        Console.WriteLine("Firing Bookmark HandleDragOver");
        if (Container.BookmarkDragPayload is not null)
        {
            await Container.MoveBookmarkPosition(target);
        }
        if (Container.FolderDragPayload is not null)
        {
            //dragging a folder, do nothing
            return;
        }
        else
        {
            //this could be anything being dragged over
            //todo adding bookmarks
            //await Container.InsertNewBookmarkAtPosition(target);
        }
    }

    private void HandleDrop()
    {
        Console.WriteLine("Firing HandleDrop Bookmark");
        if (Container.BookmarkDragPayload == null)
            return;
        Container.BookmarkDragPayload.Hidden = false;
        Container.BookmarkDragPayload = null;
    }

    private async Task Navigate()
    {
        //TODO: JS Interop navigate with target="_blank"
        //todo this isn't working yet
        //await Container.IncrementClicks(Model.Id);
        navigationManager.NavigateTo(Model.Url, true);
    }

    private async Task Delete()
    {
        await Container.RemoveBookmark(Model);
    }

}